/*@font-face {
    font-family: "League Spartan", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'League Spartan', sans-serif;
    color: #ffffff;
}
html {
    font-size: 62.5%;/*Esto quiere decir que mis pixeles por defecto serán de 10px y 1 rem siempre valdrá eso mismo*/
    background-image: url('https://cdn2.lnk.bi/bg/-1771979_240109073756_d_392.png');
}

body {
    text-align: center;
}

button{
    background-color: #fcd609;
    border-radius: .8rem;
    height: 5rem;
    width: 40rem;
    text-align: center;
    font-weight: bold;
    border: none;
    
}

/*---Cabecera---*/
.logoTink img{
    margin-top: 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
}

.generalHeader h3{
    margin: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #fcd609;
}
.iconList {
    padding: 0.5rem;
    list-style: none;
   }

.iconList ul {
    justify-content: space-between;
}

.iconList li {
    display: inline-block;
}

.instagramIcon {
    padding-right: 20px;
    
}

.facebookIcon {
    padding-right: 10px;
}

.whatsappIcon {
    padding-left: 10px;
}
/*Main*/
/*Descripción de agencia*/
.agencyDescription {
    padding: 2rem;
}
.agencyDescription p{
    font-size: 1.5rem;
    margin: 2rem;
}

.youtubeVideo {
    align-items: center;
    margin: .1rem;
    border-radius: 5rem;
}

/*Servicios*/
.servicesList {
    padding: 20px;
}

.servicesList h2 {
    font-size: 2.3rem;
    padding: 10px;
    color: #fcd609;
}
.servicesList ol{
    margin-left: .5rem;
}

.servicesList li {
    font-size: 1.5rem;
    padding: 10px;
    list-style: none;
}


/*Paginas Web*/
.webPagesList {
    padding: 20px;
    
}

.webPagesList h2 {
    font-size: 2.3rem;
    padding: 10px;
    color: #fcd609
}

.webPagesList li {
    padding: 10px;
    list-style: none;
}

.webPagesList a{
    text-decoration: none;
    color: #000000;
}

/*Bio Links*/
.bioLinks {
    padding: 20px;
}

.bioLinks h2 {
    padding: 10px;
    font-size: 2.3rem;
    color: #fcd609
}

.bioLinks p {
    padding: 10px;
    font-size: 1.5rem;
}

.bioLinks li {
    padding: 10px;
    list-style: none;

    
}

.bioLinks a {
    text-decoration: none;
    color: #000000;
    
}

/*---Footer---*/

footer {
    padding: 20px;
}

.locationFooter {
    padding: 10px;
}

.locationFooter nav {
    padding: 10px;
}

.locationFooter h2 {
    font-size: 2.3rem;
    color: #fcd609
}

.locationFooter p {
    font-size: 1.5rem;
    margin: 3rem;
}

.logoCompartir h3 {
    font-size: 1.5rem;
    color: #fcd609;
}

.hechoPorTink{
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'League Spartan', sans-serif;
        color: #ffffff;
    }
    html {
        background-image: url('https://cdn2.lnk.bi/bg/-1771979_240109073627_m_337.png');
    }
    body {
        text-align: center;
    }
    
    .webPagesList button {
        width: 30rem;
    }

    .bioLinks button {
        width: 30rem;
        
    }
    .youtubeVideo {
        margin-left: .3rem;
        width: 330;
    }
    .iframeYoutube {
        width: 40rem;
        border-radius: 10px;
    }
    .googleMapsFrame{
        width: 30rem;
        border-radius: 20px;
    }


   
}